@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', cursive;
}
.return-back{
    position: absolute;
    top: 40px;
    left: 40px;
}

.room__title{
    font-size: 30px;
    color: #6A9793;
}
.room__input{
    height: 34px;
    font-size: 16px;
    margin-left: 16px;
    padding: 6px 18px 6px 6px;
    outline: noen;
}
.room__header{
    display: flex;
    justify-content: center;
    align-items: center;

}